body {
      margin: 0;
      height: 100vh;
     /* padding-bottom: 200px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, midnightblue, deepskyblue);
      font-family: system-ui, sans-serif;
    }
    h1 {
        margin-bottom: 20px;
    }
.conatiner {
    margin-top: 10px;
    background: white;
    border-radius: 15px;
    display: block;
    text-align: center;
    width: 280px;
    padding: 25px 6px;
    box-shadow:  0 8px 20px rgba(0, 0, 0, 0.8);
}
.conatiner input:hover select:hover select:active {
    border-color: black;
}
select:focus {
    outline: 1px solid black;
    border-radius: 5px;
}
.conatiner #genBtn {
    width: 50%;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    outline: black;
    background: deepskyblue;
    transition: 1s ease;
}
.conatiner #genBtn:hover {
    transform: scale(1.05);
    background-color: dodgerblue;
}
.conatiner #copyBtn {
    margin-top: 10px;
    margin-left: 130px;
    width: 70px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}
.conatiner #result {
      color: black;
      font-size: 20px;
      margin-top: 20px;
    }
    #mode {
        margin-bottom: 20px;
        margin-right: 100px;
    }