body {
      margin: 0;
      height: 100vh;
     /* padding-bottom: 200px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, midnightblue, deepskyblue);
      font-family: system-ui, sans-serif;
    }
    h1 {
        margin-bottom: 20px;
    }
.container {
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 280px;
    padding: 2px 6px 25px 1px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}
.container input, select {
    gap: 10px;
}
.container input:hover select:hover select:active {
    border-color: black;
}
select:focus {
    outline: 1px solid black;
    border-radius: 5px;
}
.container #genBtn {
    width: 50%;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    outline: black;
    background: deepskyblue;
    transition: 1s ease;
}
.container #genBtn:hover {
    transform: scale(1.05);
    background-color: dodgerblue;
}
.container #copyBtn {
    margin-top: 10px;
    margin-left: 130px;
    width: 70px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}
.container #result {
      color: black;
      font-size: 20px;
      margin-top: 20px;
    }
    #mode {
        margin-bottom: 20px;
        margin-right: 100px;
    }